<div class="page-header">
    <h1>Simple</h1>
</div>

<div id="admin-content">
    <div id="left-menu">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/accessories">Accessories</a>
            </li>
            <li>
                <a href="/denim">Denim</a>
            </li>
            <li>
                <a href="/footwear">Footwear</a>
            </li>
            <li>
                <a href="/jeans">Jeans</a>
            </li>
            <li>
                <a href="/outerwear">Outerwear</a>
            </li>
            <li>
                <a href="/pants">Pants</a>
            </li>
            <li>
                <a href="/shirts">Shirts</a>
            </li>
            <li>
                <a href="/t-shirts">T-Shirts</a>
            </li>
            <li>
                <a href="/shorts">Shorts</a>
            </li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>